$rubik: "Roboto", sans-serif;
$karla: "Nunito", sans-serif;

$orange: #0dff49;
$black: #000000;
$white1: #ffffff;
$white2: #fbf8f7;
$white3: #dddddd;

.border-box {
    box-sizing: border-box;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
