$rubik: "Roboto", sans-serif;
$karla: "Nunito", sans-serif;

$orange: #0dff49;
$black: #000000;
$white1: #ffffff;
$white2: #fbf8f7;
$white3: #dddddd;

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}
